<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Change Password</title>
  </head>
  <body>
    <div class="container mt-5">


{{!
  PAGE_START: To include this as a page within an existing experience layout,
  keep everything between PAGE_START and PAGE_END. All other content can be
  removed since it's provided by the surrounding layout.
}}

  {{#if pageData.success}}
    <div class="alert alert-success">Password has been updated.</div>
  {{/if}}
  {{#if pageData.error}}
    <div class="alert alert-danger">
      Failed to change password: {{pageData.error}}
    </div>
  {{/if}}
  <form
    method="post"
    id="tl-change-password"
    novalidate
  >
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        disabled
        class="form-control"
        id="email"
        value="{{experience.user.email}}"
      />
    </div>
    <div class="form-group">
      <label for="currentPassword">Current Password</label>
      <input
        type="password"
        class="form-control"
        id="currentPassword"
        name="currentPassword"
        required
        minlength="8"
      />
      <small class="form-text text-muted">For security, changing your password requires verifying your existing password.</small>
    </div>
    <hr class="my-5" />
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input
        type="password"
        class="form-control"
        id="newPassword"
        name="newPassword"
        required
        minlength="8"
        {{#if globals.requireStrongPassword}}
          {{#if globals.strongPasswordRegExp}}
            pattern="{{globals.strongPasswordRegExp}}"
          {{/if}}
        {{/if}}
      />
      {{#if globals.requireStrongPassword}}
        {{#if globals.strongPasswordExplanation}}
          <small class="form-text text-muted">{{globals.strongPasswordExplanation}}</small>
        {{/if}}
      {{else}}
        <small class="form-text text-muted">Must be at least 8 characters.</small>
      {{/if}}
      
    </div>
    <div class="form-group">
      <label for="newPasswordAgain">Re-Type New Password</label>
      <input
        type="password"
        class="form-control"
        id="newPasswordAgain"
        name="newPasswordAgain"
        required
        minlength="8"
      />
      <small class="form-text text-muted">Verify your new password by re-typing it here.</small>
    </div>
    <button id="tl-change-password-submit-btn" class="btn btn-success" type="submit">Update Password</button>
  </form>
  <script>
    (function() {
      let wasSubmitted = false;
      const newPasswordInput = document.getElementById('newPassword');
      const newPasswordAgainInput = document.getElementById('newPasswordAgain');
      const setPasswordAgainValidity = () => {
        newPasswordAgainInput.setCustomValidity(newPasswordAgainInput.value !== newPasswordInput.value ? 'Passwords must match' : '');
      }
      const form = document.getElementById('tl-change-password');
      form.addEventListener('submit', (event) => {
        setPasswordAgainValidity();
        wasSubmitted = true;
        form.classList.add('was-validated');
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
          [newPasswordInput, newPasswordAgainInput].forEach((el) => {
            el.addEventListener('input', setPasswordAgainValidity);
          });
        } else {
          document.getElementById('tl-change-password-submit-btn').disabled = true;
        }
      });
    })();
  </script>

{{!
  PAGE END
}}
  </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>
