<div class="cpf-page" data-controller="cpf-page-event-details" data-turbo-temporary>
  <div class="mb-5">
    <div>
      <h1>{{pageData.event.subject}}</h1>
    </div>
    <div class="col">
      View and manage this event.
    </div>
  </div>
  {{#if request.query.error}}
  <div class="my-2">
    <div class="alert alert-danger event-details" role="alert">
      ERROR: {{request.query.error}}
    </div>
  </div>
  {{/if}}
  
  {{#if request.query.success}}
  <div class="my-2">
    <div class="alert alert-success event-details" role="alert">
      Event changes have been saved.
    </div>
  </div>
  {{/if}}
  <div class="d-flex flex-column event-details">
    <div class="card mb-4">
      <div class="card-header">
        Event Details
      </div>
      <div class="card-body">
        <div class="d-flex flex-row">
          <div scope="row" class="material-symbols-outlined
          {{#eq pageData.event.level 'warning'}} warning-icon{{/eq}}
          {{#eq pageData.event.level 'critical'}} danger-icon{{/eq}}
          cpf-icon-small mt-1 me-1" data-bs-toggle="tooltip"
            title="{{pageData.event.level}}">
            {{#eq pageData.event.level 'warning'}}
            warning
            {{/eq}}
            {{#eq pageData.event.level 'critical'}}
            explosion
            {{/eq}}
          </div>
          <div>
            <div class="mb-2"><strong>{{pageData.event.subject}}</strong></div>
            <div class="mb-2"><strong>State:</strong> 
              {{#eq pageData.event.state 'new'}}
              <div class="badge bg-light">New</div>
              {{/eq}}
              {{#eq pageData.event.state 'acknowledged'}}
              <div class="badge bg-primary">Acknowledged</div>
              {{/eq}}
              {{#eq pageData.event.state 'resolved'}}
              <div class="badge bg-success">Resolved</div>
              {{/eq}}
            </div>
            <div class="mb-2"><strong>Device</strong> <a href="/devices/{{pageData.event.deviceId}}">{{pageData.event.deviceName}}</a></div>
            <div class="mb-2"><strong>Created:</strong> {{pageData.event.creationDate}}</div>
            {{#if (length pageData.event.eventTags)}} 
            <div class="mb-2"><strong>Additional Tags:</strong></div>
            <ul>
              {{#each pageData.event.eventTags}}
              <li>{{@key}}: {{this}}</li>
              {{/each}}
            </ul>
            {{/if}}
          </div>
       </div>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        Event History
      </div>
      <div class="card-body" id="event-updates"> 
        <div class="event-update">
          <div class="mb-2 badge bg-light">Event Created</div>
          <div class="mb-2"><strong>Date:</strong> {{pageData.event.creationDate}}</div>
          <div class="mb-2"><strong>Message:</strong><br>{{pageData.event.message}}</div>
        </div>
        {{#each pageData.event.updates}}
        <hr/>
        <div class="event-update">
          <div class="mb-2"><strong>Date:</strong> {{this.creationDate}}</div>
          {{#if this.user}}
          <div class="mb-2"><strong>User:</strong> <a href="/user/{{this.user.id}}">{{this.user.email}}</a></div>
          {{/if}}
          <div class="mb-2 d-flex align-items-center"><strong>State:</strong> 
          {{#if this.stateChange.old }}
            {{#eq this.stateChange.old 'new'}}
            <div class="ms-2 badge bg-light">New</div>
            {{/eq}}
            {{#eq this.stateChange.old 'acknowledged'}}
            <div class="ms-2 badge bg-primary">Acknowledged</div>
            {{/eq}}
            {{#eq this.stateChange.old 'resolved'}}
            <div class="ms-2 badge bg-success">Resolved</div>
            {{/eq}} <span class="material-symbols-outlined cpf-icon-small secondary-icon">arrow_right_alt</span>
            {{#eq this.stateChange.new 'new'}}
            <div class="badge bg-light">New</div>
            {{/eq}}
            {{#eq this.stateChange.new 'acknowledged'}}
            <div class="badge bg-primary">Acknowledged</div>
            {{/eq}}
            {{#eq this.stateChange.new 'resolved'}}
            <div class="badge bg-success">Resolved</div>
            {{/eq}} 
          {{/if}}
          {{#unless this.stateChange}}
            {{#eq this.data.state 'new'}}
              <div class="ms-2 badge bg-light">New</div>
            {{/eq}}
            {{#eq this.data.state 'acknowledged'}}
              <div class="ms-2 badge bg-primary">Acknowledged</div>
            {{/eq}}
            {{#eq this.data.state 'resolved'}}
              <div class="ms-2 badge bg-success">Resolved</div>
            {{/eq}}
          {{/unless}}
          </div>
          {{#if this.comment}}
          <div class="mb-2"><strong>Message:</strong><br><span class="event-message">{{this.comment}}</span></div>
          {{/if}}
        </div>
        {{/each}}
      </div>
    </div>
    {{#includes 'admineditor' experience.user.userTags.cpf_role}}
    <div id="update-event-form" class="card mb-4">
      <div class="card-header">
        Update Event
      </div>
      <div class="card-body">
        <div class="mb-2">Change the event's state and/or add a comment. At least one of the fields is required.</div>
        <form method="POST">
          <div class="mb-3">
            <label for="change_event_state" class="form-label">Change State (optional)</label>
            <select class="form-select" id="change_event_state" name="state" data-action="">
              <option value="">Select One ...</option>
              <option value="new">New</option>
              <option value="acknowledged">Acknowledged</option>
              <option value="resolved">Resolved</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="update_event_comment" class="form-label">Add a Comment (optional)</label>
            <textarea class="form-control form-comment" id="update_event_comment" name="comment"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>  
        </form>
      </div>
    </div>
    {{/includes}}
  </div>
</div>