<turbo-frame id="cpf-element-device-list">
  <div class="cpf-element-device-list w-100 h-100 d-flex flex-column" data-controller="cpf-element-devices-table">
    <div class="flex-grow-1 overflow-auto">
      <table class="cpf-table table">
        <thead id="cpf-element-device-list-table-header" data-turbo-permanent>
          <tr>
            {{#each pageData.tableConfig.items}}
              <th scope="col" id="table-header-{{this.key}}">
                <div>
                <div class="mb-1">{{this.label}}</div>
                {{#eq this.columnId 'native-connected'}}
                <div>
                  <select data-filter="connected"
                          data-action="cpf-element-devices-table#updateFilters"
                          class="form-select w-auto">
                    <option value="any">Any</option>
                    <option value="connected">Connected</option>
                    <option value="disconnected">Disconnected</option>
                  </select>
                </div>
                {{else eq this.type 'attribute'}}
                <div class="text-disabled">
                  <span data-bs-toggle="tooltip"
                        title="Cannot filter by telemetry data."
                        class="text-nowrap">
                    Filter not available
                  </span>
                </div>
                {{else eq this.columnId 'group-customer'}}
                <div>
                  <turbo-frame id="cpf-element-group-select" src="/cpf/elements/group-select?level=1&placeholder=-- All Customers --&actionMethod=updateFilters&actionGroupParamValue=customer&controllerName=cpf-element-devices-table&targetName=customerSelect&selectedId={{@root.pageData.customerId}}">
                    <select class="form-select" disabled><option>Loading...</option></select>
                  </turbo-frame>
                </div>
                {{else eq this.columnId 'group-site'}}
                <div>
                  <turbo-frame data-cpf-element-devices-table-target="siteSelectFrame" id="cpf-element-group-select" src="/cpf/elements/group-select?level=2&placeholder=-- All Sites --&actionMethod=updateFilters&actionGroupParamValue=site&controllerName=cpf-element-devices-table&targetName=siteSelect&selectedId={{@root.request.query.site}}&parentId={{@root.pageData.customerId}}">
                    <select class="form-select" disabled><option>Loading...</option></select>
                  </turbo-frame>
                </div>
                {{else eq this.columnId 'native-id'}}
                <input  type="text" class="form-control" placeholder="Filter..."
                      data-action="cpf-element-devices-table#updateFilters"
                      data-filter="id"></input>
                {{else}}

                <input  type="text" class="form-control" placeholder="Filter..."
                      data-action="cpf-element-devices-table#updateFilters"
                      data-filter="{{#eq this.type 'tag'}}tag_{{/eq}}{{this.key}}"></input>
                {{/eq}}
                </div>
              </th>
            {{/each}}
        </thead>
        <tbody>
          {{#eq pageData.devices.count 0}}
          <tr>
            {{#each pageData.tableConfig.items}}
            {{#eq this.key 'connected'}}
            <td style="width:1%; white-space:nowrap;"></td>
            {{else}}
            <td></td>
            {{/eq}}
            {{/each}}
          </tr>
          {{/eq}}

          {{#each pageData.devicesReshaped}}
          <tr class="devices-table-row">
          {{#each this}}
            <td class="devices-table-value">{{{template this.template this}}}</td>
          {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{#eq pageData.devices.count 0}}
      <div class="w-100 text-center">
        <div id="no-devices-message" class="alert alert-info" role="alert">
          No devices found.
        </div>
      </div>
      {{/eq}}
    </div>
    <div class="container-fluid">
      <div class="row mt-1 pt-3 paginate-container">
        <div class="col-lg-3 col-md-12 mb-1 text-lg-start text-center">
          <select class="form-select w-auto d-inline"
                  data-action="cpf-element-devices-table#updateFilters"
                  data-cpf-element-devices-table-field-param="perPage"
                  data-cpf-element-devices-table-target="perPage">
            <option {{#eq pageData.devices.perPage 25}}selected{{/eq}} value="25">25 per page</option>
            <option {{#eq pageData.devices.perPage 50}}selected{{/eq}} value="50">50 per page</option>
            <option {{#eq pageData.devices.perPage 100}}selected{{/eq}} value="100">100 per page</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-12 mb-1 text-center">
          {{!-- First page --}}
          <span class="material-symbols-outlined align-middle"
                data-bs-toggle="tooltip"
                title="First Page">
            <a  href="#"
                id="first-page"
                data-action="cpf-element-devices-table#updateFilters"
                data-cpf-element-devices-table-page-param="0"
                {{#eq pageData.devices.page 0}}class="disabled"{{/eq}}>
              first_page
            </a>
          </span>
          {{!-- Previous page --}}
          <span class="material-symbols-outlined align-middle"
                data-bs-toggle="tooltip"
                title="Previous Page">
            <a  href="#"
                id="previous-page"
                data-action="cpf-element-devices-table#updateFilters"
                data-cpf-element-devices-table-page-param="{{subtract pageData.devices.page 1}}"
                {{#eq pageData.devices.page 0}}class="disabled"{{/eq}}>
              chevron_left
            </a>
          </span>
          {{!-- Show/select page --}}
          <select class="form-select w-auto d-inline"
                  data-action="cpf-element-devices-table#updateFilters"
                  data-cpf-element-devices-table-target="page">
            {{#each pageData.devices.totalPages}}
              <option {{#eq @root.pageData.devices.page this}}selected{{/eq}} value="{{this}}">{{add this 1}}</option>
            {{/each}}
          </select>
          <span> of <span id="total-pages">{{pageData.devices.totalPages}}</span> pages</span>
          {{!-- Next page --}}
          <span class="material-symbols-outlined align-middle"
                data-bs-toggle="tooltip"
                title="Next Page">
              <a  href="#"
                  id="next-page"
                  data-action="cpf-element-devices-table#updateFilters"
                  data-cpf-element-devices-table-page-param="{{add pageData.devices.page 1}}"
                  {{#eq (add pageData.devices.page 1) pageData.devices.totalPages}}class="disabled"{{/eq}}>
                chevron_right
              </a>
            </span>

          {{!-- Last page --}}
          <span class="material-symbols-outlined align-middle"
                data-bs-toggle="tooltip"
                title="Last Page">
              <a  href="#"
                id="last-page"
                data-action="cpf-element-devices-table#updateFilters"
                data-cpf-element-devices-table-page-param="{{subtract pageData.devices.totalPages 1}}"
                {{#eq (add pageData.devices.page 1) pageData.devices.totalPages}}class="disabled"{{/eq}}>
              last_page
            </a>
          </span>

        </div>
        <div class="col-lg-3 col-md-12 mb-1 mb-sm-0 d-table text-lg-end text-center">
          <div class="d-table-cell align-middle text-nowrap">
            {{#gt pageData.devices.count 0}}
            {{add (multiply pageData.devices.page pageData.devices.perPage) 1}}
            -
            {{#eq (add pageData.devices.page 1) pageData.devices.totalPages}}
            {{pageData.devices.totalCount}}
            {{else}}
            {{multiply (add pageData.devices.page 1) pageData.devices.perPage}}
            {{/eq}}
            {{else}}
            0
            {{/gt}}
            of {{pageData.devices.totalCount}}
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>