<div class="cpf-page">

    <div class="row mb-3">
      <div class="col-12">
          {{#if pageData.site}}
          <h1>Site Details</h1>
          <p>View and edit the details for this site.</p>
          {{else}}
          <h1>Add Site</h1>
          <p>Create a new customer site.</p>
          {{/if}}
      </div>
    </div>

  <form method="POST" class="cpf-standard-form">

    {{#if request.query.error}}
    <div class="my-2">
      <div class="alert alert-danger" role="alert">
          ERROR: {{request.query.error}}
      </div>
    </div>
    {{/if}}

    {{#if request.query.success}}
    <div class="my-2">
      <div class="alert alert-success" role="alert">
        Site details successfully saved.
      </div>
    </div>
    {{/if}}

    {{#if request.query.created}}
    <div class="my-2">
      <div class="alert alert-success" role="alert">
        Site successfully created.
      </div>
    </div>
    {{/if}}

    <div class="mb-3">
      <label for="name">Name *</label>
      <input id="name" type="text" class="form-control" name="name" placeholder="Cincinnati Plant" value="{{pageData.site.name}}" {{#eq experience.user.userTags.cpf_role 'viewer'}}disabled{{/eq}} required autofocus>
    </div>

    {{#eq pageData.userLevel 0}}
    <div class="mb-3">
      <label for="customer">Customer *</label>
      <turbo-frame id="cpf-element-group-select" src="/cpf/elements/group-select?level=1&placeholder=-- Select Customer --&formName=customer&selectedId={{pageData.site.parentId}}">
        <select class="form-select" disabled>
          <option>Loading...</option>
        </select>
      </turbo-frame>
    </div>
    {{else}}
    <input type="hidden" name="customer" value="{{pageData.site.parentId}}" />
    {{/eq}}

    <div class="mb-3">
      <label for="contact">Primary Contact</label>
      <input id="contact" type="email" class="form-control" name="contact" placeholder="jane.smith@example.com" value="{{pageData.site.groupTags.contact}}" {{#eq experience.user.userTags.cpf_role 'viewer'}}disabled{{/eq}}>
    </div>

    <div class="mb-3">
      <label for="address">Address</label>
      <textarea class="form-control form-comment" id="address" name="address" {{#eq experience.user.userTags.cpf_role 'viewer'}}disabled{{/eq}}>{{pageData.site.groupTags.address}}</textarea>
    </div>

    <div class="mb-3">
      <label for="link">Link</label>
      <input id="link" type="text" class="form-control" name="link" placeholder="https://www.example.com" aria-describedby="link_help" value="{{pageData.site.groupTags.link}}" {{#eq experience.user.userTags.cpf_role 'viewer'}}disabled{{/eq}}>
      <div id="link_help" class="form-text">
        This can be a link to the sites's website or a link to your CRM (e.g. Salesforce, Hubspot) with details for this site.
      </div>
    </div>

    {{#eq pageData.userLevel 0}}
    <div class="alert alert-info mb-3" role="alert">
      <div class="mb-2"><strong>Administrator Tip</strong></div>
      <div>
        A site is represented by an <a href="https://docs.losant.com/experiences/groups/" target="_blank">Experience Group</a> in the platform.
        The primary contact, address, and link are saved on <a href="https://docs.losant.com/experiences/groups/#group-tags" target="_blank">Group Tags</a>.
        All sites are added as children to the group that represents the selected customer.
      </div>
    </div>
    {{/eq}}

    {{#ne experience.user.userTags.cpf_role 'viewer'}}
    <div class="edit-nav-card">
      <div class="card p-3 mt-4 cpf-bg-light">
        <div class="d-flex flex-row align-items-center">
          <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
          {{#if pageData.site}}
          {{#eq experience.user.userTags.cpf_role 'admin'}}
          <a id="delete-site-button" href="#" class="ms-2 text-danger ms-auto" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete Site</a>
          {{/eq}}
          {{/if}}
        </div>
      </div>
    </div>
    {{/ne}}
  </form>
</div>

<!-- Confirm Delete Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmDeleteModalLabel">Confirm Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This action <strong>cannot be undone</strong>.<br /><br />
        Are you sure you want to delete this site?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form method="POST" action="/sites/{{pageData.site.id}}">
          <input type="hidden" name="delete" value="true"></input>
          <button type="submit" class="btn btn-danger">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>

