<turbo-frame id="cpf-element-device-details-alerting">
  <div>
    <div class="alert alert-info mb-4" role="alert">
      <div class="mb-2"><strong>Alerting Thresholds</strong></div>
      <div>
        When threshold values are exceeded, <a href="/events">Events</a> are
        created to track the issue. The table below displays the subset of attributes for this device where
        alerting has been enabled. If the "Override Default" checkbox is present, you are able to
        optionally override the default threshold values for this specific device. Only admin users
        can modify threshold values.
      </div>
    </div>
    {{#if request.query.error}}
    <div class="my-2">
      <div class="alert alert-danger" role="alert">
        ERROR: {{request.query.error}}
      </div>
    </div>
    {{/if}}
    {{#if request.query.success}}
    <div class="my-2">
      <div class="alert alert-success" role="alert">
        Alerting configuration changes have been saved.
      </div>
    </div>
    {{/if}}
    <turbo-frame
      id="cpf-element-alerting-table"
      src="/cpf/elements/alerting-table?deviceId={{request.query.deviceId}}&post={{encodeURI (template '/cpf/elements/device-details-alerting?deviceId={{request.query.deviceId}}' .)}}"
      target="_top"
      loading="lazy">
      <img class="cpf-spinner" src="{{file 'spinner.gif'}}">
    </turbo-frame>
  </div>
</turbo-fame>