{{#*inline "recipeRow"}}
  <tr id="recipe-row-{{index}}">
    <td id="name-cell-{{index}}">{{#eq index 0}}<strong>{{recipeName}}</strong>{{else}}{{recipeName}}{{/eq}}</td>
    <td id="tags-cell-{{index}}">
      <input aria-label="Tags for Recipe {{recipeName}}" name="{{recipeName}}" id="tags-for-recipe-{{index}}" class="form-control" value="{{join deviceTagKeys ', '}}">
    </td>
  </tr>
{{/inline}}

<div class="w-100 h-100 overflow-hidden">
  <div class="d-flex flex-column h-100">

    <div class="mx-5 mb-3 mt-5">
      <h1>Device Tags</h1>
      <p>Configure which device tags your users can view and edit.</p>

      {{#if request.query.success}}
      <div class="my-2">
        <div class="alert alert-success" role="alert">
          Device tag configuration successfully saved.
        </div>
      </div>
      {{/if}}

      <div class="alert alert-info mb-3 mt-3" role="alert">
        <div class="mb-2"><strong>Administrator Tip</strong></div>
        <div>
          <a href="https://docs.losant.com/devices/overview/#device-tags" target="_blank">Device Tags</a>
          are used to store custom properties on your devices. These are commonly things like
          serial number and model number.
          In many cases, tags contain sensitive information that you do not want users to see or modify.
          When you create, view, or edit a device, this page controls which tags should be displayed.
          The tags to display are based on the
          <a href="https://docs.losant.com/devices/device-recipes/" target="_blank">Device Recipe</a>
          that created the device or the recipe being used to create a new device. The tags you
          specifiy for <strong>__default__</strong> apply to <strong>all devices</strong> regardless
          of which recipe they were created from.
        </div>
      </div>
    </div>

    <div class="flex-grow-1 px-2 px-sm-5 pt-5 pb-4 w-100 overflow-hidden full-width-table-container">
      <div class="cpf-element-dashboards-table w-100 h-100 d-flex flex-column">
        <div class="flex-grow-1 overflow-auto">
          <form method="POST" id="cpf-recipes-to-dashboards-form">
            <table class="cpf-table table align-middle">
              <thead id="cpf-element-dashboards-table-table-header">
                <tr>
                  <th scope="col" id="table-header-recipe">Recipe</th>
                  <th scope="col" id="table-header-dashboard">Tag Keys (comma separated, case sensitive)</th>
                </tr>
              </thead>
              <tbody>
                {{#each pageData.deviceRecipes}}
                  {{> recipeRow recipeName=name deviceTagKeys=deviceTagKeys index=@index}}
                {{/each}}
              </tbody>
            </table>
          </form>
        </div>
        <div class="pt-4 border-top">
          <button class="btn btn-primary" type="submit" form="cpf-recipes-to-dashboards-form">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>