{{#*inline "recipeRow"}}
  <tr id="recipe-row-{{index}}">
    <td id="name-cell-{{index}}">{{#eq index 0}}<strong>{{recipeName}}</strong>{{else}}{{recipeName}}{{/eq}}</td>
    <td id="dashboard-cell-{{index}}">
      <select aria-label="Dashboard for Recipe {{recipeName}}" name="{{recipeName}}" id="dashboard-for-recipe-{{index}}" class="form-select">
        <option value=""{{#eq dashboardId ''}} selected{{/eq}}>-- Choose Dashboard --</option>
        {{#each dashboards}}
          <option value="{{id}}"{{#eq ../dashboardId id}} selected{{/eq}}>{{name}}</option>
        {{/each}}
      </select>
    </td>
  </tr>
{{/inline}}

<div class="w-100 h-100 overflow-hidden">
  <div class="d-flex flex-column h-100">

    <div class="mx-5 mb-3 mt-5">
      <h1>Dashboards</h1>
      <p>Configure which dashboard is displayed for your devices.</p>

      {{#if request.query.success}}
      <div class="my-2">
        <div class="alert alert-success" role="alert">
          Dashboard configuration successfully saved.
        </div>
      </div>
      {{/if}}

      <div class="alert alert-info mb-3 mt-3" role="alert">
        <div class="mb-2"><strong>Administrator Tip</strong></div>
        <div>
          The table below lists all of your application's
          <a href="https://docs.losant.com/devices/device-recipes/" target="_blank">Device Recipes</a>.
          For each recipe, select the dashboard that should be displayed for devices created
          from that recipe. Each dashboard must have a
          <a href="https://docs.losant.com/dashboards/context-variables/#device-ids" target="_blank">
          device ID context variable</a> named <strong>deviceId</strong>. Devices must also have a
          tag named <strong>DeviceRecipe</strong> that is set to the name of the recipe used to create
          the device. This tag is set automatically by the platform. If there is no dashboard
          configured for a device recipe, or a matching device recipe cannot be found, the
          <strong>__default__</strong> dashboard will be displayed.
        </div>
      </div>
    </div>

    <div class="flex-grow-1 px-2 px-sm-5 pt-5 pb-4 w-100 overflow-hidden full-width-table-container">
      <div class="cpf-element-dashboards-table w-100 h-100 d-flex flex-column">
        <div class="flex-grow-1 overflow-auto">
          <form method="POST" id="cpf-recipes-to-dashboards-form">
            <table class="cpf-table table align-middle">
              <thead id="cpf-element-dashboards-table-table-header">
                <tr>
                  <th scope="col" id="table-header-recipe">Recipe</th>
                  <th scope="col" id="table-header-dashboard">Dashboard</th>
                </tr>
              </thead>
              <tbody>
                {{#each pageData.deviceRecipes}}
                  {{> recipeRow recipeName=name dashboardId=dashboardId dashboards=../pageData.dashboards index=@index}}
                {{/each}}
              </tbody>
            </table>
          </form>
        </div>
        <div class="pt-4 border-top">
          <button class="btn btn-primary" type="submit" form="cpf-recipes-to-dashboards-form">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>