{{!--

Renders a dropdown containing a collection of groups that are:
1. Children of the user's current group.
2. and Children of the provided parent group (optional).

Query Parameters:
- level: (optional) the level of groups to return in the group hierarchy (e.g. 1 for customers).
- parentId: (optional) limits groups to a specific parent. (e.g. all sites under one customer).
- selectedId: (optional) id of the item to select.
- placeholder: (optional) the label to display when no item is selected (e.g. -- Select Customer -- ).
- formName: (optional) the value of the 'name' field for this form element.
- controllerName: (optional) name of the Stimulus controller under which to register this element as a target.
- targetName: (optional) the name of the Stimulus target to give this element.
- actionMethod: (optional) the name of the controller method to invoke when the value of this element changes.
- actionGroupParamValue: (optional) the value of a 'group' action parameter that will be passed through the action event.
- required: (optional) if set to "true" will add the "required" attribute to the select element.

Examples:
/cpf/elements/group-select?controller=cpf-device-register&level=2&formName=customer
/cpf/elements/group-select?controller=cpf-device-register&level=3&parentId=<group_id>&fornName=site

--}}

<turbo-frame id="cpf-element-group-select">
  <select class="form-select"
          {{#if request.query.required}}
          required
          {{/if}}
          {{#unless (length pageData.groups)}}
          disabled
          {{/unless}}
          data-{{request.query.controllerName}}-target="{{request.query.targetName}}"
          data-action="{{request.query.controllerName}}#{{request.query.actionMethod}}"
          data-{{request.query.controllerName}}-group-param="{{request.query.actionGroupParamValue}}"
          name="{{request.query.formName}}">
      <option value="" {{#unless @root.request.query.selectedId}}selected{{/unless}}>{{request.query.placeholder}}</option>
      {{#each pageData.groups}}
      <option value="{{this.id}}" {{#eq @root.request.query.selectedId this.id}}selected{{/eq}}>{{this.name}}</option>
      {{/each}}
  </select>
</turbo-frame>