<turbo-frame id="cpf-element-data-explorer">
  <div
    id="cpf-data-explorer-wrap"
    data-controller="cpf-element-device-data-explorer"
    data-cpf-element-device-data-explorer-points-value="{{encodeBase64 (jsonEncode (defaultTo pageData.data '[]'))}}"
    data-cpf-element-device-data-explorer-device-value="{{encodeBase64 (jsonEncode (defaultTo pageData.device '{}'))}}"
    data-cpf-element-device-data-explorer-attributes-value="{{encodeBase64 (jsonEncode (defaultTo pageData.selectedAttributes '[]'))}}"
  >
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-md-4 col-lg-3 col-xl-2">
          <div
            data-controller="cpf-element-device-data-explorer-form"
            data-action="cpf-element-device-data-explorer-form:updateDataExplorerFrame->cpf-page-device-details#updateDataExplorerFrame"
          >
            <form
              method="get"
              id="tl-data-explorer-form"
              data-action="submit->cpf-element-device-data-explorer-form#onSubmit"
            >
              <div class="card tl-data-explorer-attributes mb-3">
                <div class="card-header">Attributes</div>
                <div class="card-body overflow-auto" style="max-height: 360px">
                  <small class="d-block mb-2 tl-data-explorer-attributes-instruction">At least one is required.</small>
                  {{#each pageData.device.attributes}}
                    {{#if @root.globals.allowedAttributes}}
                      {{#includes @root.globals.allowedAttributes @key}}
                        <div class="form-check text-nowrap ">
                          <input class="form-check-input" type="checkbox" value="{{@key}}" id="checkbox-{{@key}}" name="attributes" {{#includes @root.pageData.selectedAttributes @key}}checked{{/includes}}>
                          <label class="form-check-label cpf-text-dark" for="checkbox-{{@key}}">
                            {{@key}} <small class="text-muted">({{this.dataType}})</small>
                          </label>
                        </div>
                      {{/includes}}
                    {{else}}
                      <div class="form-check text-nowrap ">
                        <input class="form-check-input" type="checkbox" value="{{@key}}" id="checkbox-{{@key}}" name="attributes" {{#includes @root.pageData.selectedAttributes @key}}checked{{/includes}}>
                        <label class="form-check-label cpf-text-dark" for="checkbox-{{@key}}">
                          {{@key}} <small class="text-muted">({{this.dataType}})</small>
                        </label>
                      </div>
                    {{/if}}
                  {{/each}}
                </div>
              </div>
              <div class="form-group position-relative tl-needs-validation mb-3">
                <label for="tl-data-explorer-start">Start</label>
                <input
                  class="form-control"
                  type="datetime-local"
                  name="start"
                  step="1"
                  required
                  value="{{request.query.start}}"
                  id="tl-data-explorer-start"
                  data-cpf-element-device-data-explorer-form-target="startInput"
                  data-action="change->cpf-element-device-data-explorer-form#onDateChange"
                />
                <div class="invalid-tooltip" id="tl-start-tooltip"></div>
              </div>
              <div class="form-group position-relative tl-needs-validation mb-3">
                <label for="tl-data-explorer-end">End<!-- <a href="#" id="tl-jump-to-now">(Jump to Now)</a>--></label>
                <input
                  class="form-control"
                  type="datetime-local"
                  name="end"
                  step="1"
                  required
                  id="tl-data-explorer-end"
                  value="{{request.query.end}}"
                  data-cpf-element-device-data-explorer-form-target="endInput"
                  data-action="change->cpf-element-device-data-explorer-form#onDateChange"
                />
                <div class="invalid-tooltip" id="tl-end-tooltip"></div>
              </div>
              <div class="form-group mb-3">
                <label for="tl-data-explorer-aggregation">Aggregation</label>
                <select class="form-select" id="tl-data-explorer-aggregation" name="aggregation" required>
                    <option value="">Select one ...</option>
                  {{#each globals.allowedAggregations}}
                    <option value="{{this}}" {{#eq this @root.request.query.aggregation}}selected{{/eq}}>{{this}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group mb-3">
                <label for="tl-data-explorer-resolution">Resolution</label>
                <select
                  class="form-select"
                  id="tl-data-explorer-resolution"
                  name="resolution"
                  required
                  data-cpf-element-device-data-explorer-form-target="resolutionInput"
                >
                  <option value="">Select one ...</option>
                  <option value="1000" {{#eq '1000' request.query.resolution}}selected{{/eq}}>1 second</option>
                  <option value="10000" {{#eq '10000' request.query.resolution}}selected{{/eq}}>10 seconds</option>
                  <option value="30000" {{#eq '30000' request.query.resolution}}selected{{/eq}}>30 seconds</option>
                  <option value="60000" {{#eq '60000' request.query.resolution}}selected{{/eq}}>1 minute</option>
                  <option value="300000" {{#eq '300000' request.query.resolution}}selected{{/eq}}>5 minutes</option>
                  <option value="1200000" {{#eq '1200000' request.query.resolution}}selected{{/eq}}>20 minutes</option>
                  <option value="3600000" {{#eq '3600000' request.query.resolution}}selected{{/eq}}>60 minutes</option>
                  <option value="10800000" {{#eq '10800000' request.query.resolution}}selected{{/eq}}>3 hours</option>
                  <option value="21600000" {{#eq '21600000' request.query.resolution}}selected{{/eq}}>6 hours</option>
                  <option value="43200000" {{#eq '43200000' request.query.resolution}}selected{{/eq}}>12 hours</option>
                  <option value="86400000" {{#eq '86400000' request.query.resolution}}selected{{/eq}}>24 hours</option>
                  <option value="259200000" {{#eq '259200000' request.query.resolution}}selected{{/eq}}>3 days</option>
                  <option value="604800000" {{#eq '604800000' request.query.resolution}}selected{{/eq}}>7 days</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary" id="tl-data-explorer-submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-8 col-lg-9 col-xl-10">
          {{#if pageData.errorInfo}}
            {{!-- 500 error --}}
            <div class="alert alert-danger">
              <p><strong>The following error occurred:</strong></p>
              <p>{{defaultTo pageData.errorInfo.error.name 'Unknown error'}}: {{defaultTo pageData.errorInfo.error.message 'An unknown error occurred'}}</p>
            </div>
          {{else if (length pageData.validationErrors)}}
            {{!-- 4xx error (validation) --}}
            <div class="alert alert-warning">
              The following errors occurred:
              <ul>
              {{#each pageData.validationErrors}}
                <li>{{field}}: {{message}}</li>
              {{/each}}
              </ul>
            </div>
          {{else if pageData.data}}
            {{!-- successful data query --}}
            <div class="row mb-3">
              {{#each pageData.selectedAttributes}}
                <div class="col-lg-6 col-xl-4">
                  <div class="card mb-4">
                    <div class="card-header">
                      {{this}}
                    </div>
                    {{#with this as |attributeName|}}
                      {{#with (lookup @root.pageData.device.attributes attributeName) as |attribute|}}
                        {{#match attribute.dataType '(number|boolean)'}}
                          <div
                            data-controller="cpf-element-device-data-explorer-graph"
                            data-cpf-element-device-data-explorer-graph-attribute-value="{{attribute.name}}"
                            data-cpf-element-device-data-explorer-graph-attribute-index-value={{@index}}
                            data-cpf-element-device-data-explorer-graph-color-value="{{lookup (lookup (lookup @root.pageData.device.attributes attributeName) 'attributeTags') 'color'}}"
                            data-cpf-element-device-data-explorer-graph-style-value="{{lookup (lookup (lookup @root.pageData.device.attributes attributeName) 'attributeTags') 'style'}}"
                            style="height: 400px"
                          ></div>
                        {{else}}
                          {{#eq @root.request.query.aggregation 'COUNT'}}
                            <div
                              data-controller="cpf-element-device-data-explorer-graph"
                              data-cpf-element-device-data-explorer-graph-attribute-value="{{attribute.name}}"
                              data-cpf-element-device-data-explorer-graph-attribute-index-value={{@index}}
                              data-cpf-element-device-data-explorer-graph-color-value="{{lookup (lookup (lookup @root.pageData.device.attributes attributeName) 'attributeTags') 'color'}}"
                              data-cpf-element-device-data-explorer-graph-style-value="{{lookup (lookup (lookup @root.pageData.device.attributes attributeName) 'attributeTags') 'style'}}"
                              style="height: 400px"
                            ></div>
                          {{else}}
                            <div class="card-body text-center">
                              Cannot graph attributes of type "{{attribute.dataType}}" unless aggregating by "Count".
                            </div>
                          {{/eq}}
                        {{/match}}
                      {{/with}}
                    {{/with}}
                  </div>
                </div>
              {{/each}}
            </div>
            <button class="btn btn-info btn-sm mb-3" data-action="cpf-element-device-data-explorer#export">Export to CSV</button>
            <div data-cpf-element-device-data-explorer-target="tableWrap"></div>
          {{else}}
            {{!-- empty state --}}
            <div class="alert alert-info">Select one or more attributes, a time range, and aggregation / resolution options to view device data.</div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
