<!DOCTYPE html>
<html>
  <head>
    {{! Set the title to "Overview | Kanarra" or "DEVICE_SERIAL | Kanarra". }}
    <title>{{#if @root.pageData.device}}{{@root.pageData.device.tags.serial.[0]}}{{else}}Overview{{/if}} | Kanarra</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="icon" type="image/x-icon" href="{{file '/favicon.ico'}}">
    
    <link rel="stylesheet" type="text/css" href="{{file '/reset.css'}}">

    <style>
      {{component "css-templates"}}
    </style>
  </head>
  <body id="layout-dashboard-page">
    <div class="layout">

      {{! Sidebar with device list }}
      <div class="sidebar-container">
        <div class="sidebar-logo">
          <img src="{{file '/kanarra-logo-small.png'}}">
        </div>
        <div class="sidebar-header">
            Devices
        </div>
        <div class="sidebar-device-list">
          {{component 'component-device-list' @root.pageData.devices}}
        </div>
      </div>

      {{! Main content. Breadcrumbs and Dashboard Page. }}
      <div class="content-container">

        <div class="breadcrumbs">
          <div style="float:left;">
            {{#if @root.pageData.device}}
              <a href="/">Overview</a> > {{@root.pageData.device.tags.serial.[0]}}
            {{else}}
              Overview
            {{/if}}
          </div s>
          <div style="float: right;">
            <a href="/logout">Log Out</a>
          </div>
        </div>

        <div class="page-container">
          {{! The special "page" helper is where the actual page contents are placed within this layout. }}
          {{page}}
        </div>

      </div>

    </div>
  </body>
</html>