{{#with pageData.dictionaryInfo as |dictionaryInfo|}}
{{#with dictionaryInfo.dictionary as |dictionary|}}
<!doctype html>
<html lang="{{dictionaryInfo.selectedLanguage}}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- languages -->
    {{#if ../../request.params.language}}
      {{component
        'tl-i18n-head-info'
        dictionaryInfo.dictionaries
        selectedLanguage=dictionaryInfo.selectedLanguage
        pathNoLanguage=dictionaryInfo.pathNoLanguage
      }}
    {{else}}
      {{component
        'tl-i18n-head-info'
        dictionaryInfo.dictionaries
        mode="subdomain"
        selectedLanguage=dictionaryInfo.selectedLanguage
        hostNoLanguage=dictionaryInfo.hostNoLanguage
      }}
    {{/if}}

    <title>{{dictionary.exampleSiteName}} | {{dictionary.exampleTitle}}</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">{{dictionary.exampleSiteName}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="ml-auto">
        {{#if ../../request.params.language}}
          {{component
            'tl-i18n-language-selector'
            dictionaryInfo.dictionaries
            selectedLanguage=dictionaryInfo.selectedLanguage
            pathNoLanguage=dictionaryInfo.pathNoLanguage
            rightAlign=true
          }}
        {{else}}
          {{component
            'tl-i18n-language-selector'
            dictionaryInfo.dictionaries
            mode="subdomain"
            selectedLanguage=dictionaryInfo.selectedLanguage
            hostNoLanguage=dictionaryInfo.hostNoLanguage
            rightAlign=true
          }}
        {{/if}}
        </div>
      </div>
    </nav>

    <div class="container text-center mt-2">
      {{#each dictionaryInfo.dictionaries}}
        {{#eq @key @root.pageData.dictionaryInfo.selectedLanguage}}
          <div class="display-1">{{#if flagUrl}}<img src="{{flagUrl}}" alt="{{label}}" style="max-width: 80px" />{{/if}}</div>
        {{/eq}}
      {{/each}}
      <h1>{{dictionary.exampleTitle}}</h1>
      <p>{{dictionary.exampleDescription}}</p>
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  </body>
</html>
{{/with}}
{{/with}}